/* Font set to 12px. Allows REMs to be used easily */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    background: linear-gradient(#333, #999);
    border: 8px solid red;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}