/* Font set to 12px. Allows REMs to be used easily */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    background: linear-gradient(#333, #999);
    height: 100vh;
    border: 8px solid red;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
header {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.75rem;
    border: 4px solid gold;
}
/* overwrite default style on select (form/buttons also) */
select {
    font-size: 1.75rem;
}
.section-container {
    display: flex;
    padding: 0 10vw 0 10vw;
    border: 4px solid green;
}
.column {
    font-size: 1.75rem;
    flex-grow: 1;
    border: 2px solid fuchsia;
}
.item > h2 {
    text-decoration: underline; 
}